$background-gray: var(--background-gray);
$background-white: var(--background-white);


$brand-primary: var(--brand-primary);
$brand-secondary: var(--brand-secondary);
$brand-primary-light: var(--brand-primary-light);

$text-black: var(--text-black);
$text-gray: var(--text-gray);
$text-white: var(--text-white);
$text-brand: var(--text-brand);
